body {
    flex-shrink: 0;
    flex-grow: 0;
    font-family: "Roboto", serif;
    font-weight: 500;
    font-style: normal;

}

 /* navigation section */

 #nav-bar {
     background-color: #bfa3b0;
     position: fixed;
     z-index: 999;
     width: 100%;
     top: 0;
     right: 0;
     left: 0;
     padding-left: 40px;

 }

 .nav-list {
     display: inline-block;
     color: white;
     font-size: medium;
     padding: 20px 10px;
     text-align: center;
     width: 165px;
     cursor: pointer;
     float: left;
     text-align: center;
 }


 .nav-list:hover {
     transform: scale(1.05);

 }

 .drop-down {
     text-decoration: none;
     display: block;
     background-color: rgb(44, 44, 44);
     background-size: contain;
     top: 50px;
     width: 100px;
     padding-right: 35px;
     position: absolute;
     display: none;
     cursor: pointer;
 }

 .drop-down a li {
     padding: 10px 0;
     text-decoration: none;
     border-radius: 20px;
     display: block;
     color: white;
     text-align: center;
 }

 .drop-down a {
     text-decoration: none;
     display: block;
     color: white;
 }

 .drop-down a li:hover {
     background-color: rgb(221, 221, 221);
     text-decoration: none;
     display: block;

 }

 ul li:hover ul.drop-down {
     display: block;
 }

 .logo {
     width: 50px;
     position: absolute;
     border-radius: 10px;
     left: 1%;
     top: 16%;
     padding: 1px;
 }



 .search {
     display: block;
     text-decoration: none;
     position: absolute;
     right: 20%;
     top: 40%;
 }

 #button {
     width: 50px;
     height: 20px;
     border: 1px solid black;
     background-color: white;
     color: black;
     text-align: center;

 }




/* Section 1 */

.angleImages {
    padding-top: 100px;
    padding-left: 100px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    float: left;
}

.angleImages img {
    width: 80px;
    height: 100px;
}

.fullPicture img {
    padding: 100px 10px;
    width: 600px;
    height: 800px;
}

.customers_Review {
    position: absolute;
    left: 15%;
    top: 99%;
    padding-bottom: 30px;

}

.rate {
    display: inline-flex;
    background-color: rgb(233, 228, 228);
    padding: 20px;
    background-attachment: cover;
    height: 150px;
    width: 570px;
}

.rate img {
    width: 30px;
    height: 30px;
    padding-top: 15px;
   
}

.qualityPercent {
    flex-direction: row;
    padding: 0 15px;
}

.overallFit {
    position: absolute;
    left: 3%;
    bottom: 10%;


}

.overallFit_body {
    display: flex;
}

.overallFit_container {
    display: flex;
    padding: 5px 20px;
}

.overallFit_container img {
    width: 80px;
    height: 30px;

}


.imageSection {
    display: flex;
    padding-left: 100px;
}

.imageName {
    font-size: xx-large;
    padding-top: 100px;
}

.newTrends img{
    width: 80px;
    
}

.rightSection {
    position: absolute;
    top: 0;
    left: 50%;

}

.addToCart {
    padding: 20px 0;
}

.addToCart button {
    width: 150px;
    height: 50px;
    background-color: yellow;
    font-weight: bold;

}

.discount {
    background-color: rgb(222, 211, 252);
    background-size: contain;
    padding: 15px;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 53%;

}

.freeShipping {
    display: flex;
    flex-direction: column;
  
}

.freeShipping img {
    width: 22px;
    height: 22px;
    padding: 0 8px;
    
}

.textbox {
    width: 200px;
    height: 20px;
    display: flex;
    gap: 5px;
}

.small{
    font-weight: lighter;
    padding: 40px ;
}